<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8" /> 
        <title>Book</title> 
    </head> 
    <body> 
        <h1>Metadata</h1>
        <p id='metadata'>You can buy The Fault in Our Stars from your favorite retailer via the Penguin portal. <br> If you’ve read the book and are completely prepared for spoilers, visit the FAQ for much, much more information on the book.</p>
        </br>
        <a href='home' id=back>Back to Cover.</a>
        </body> 
    <style>
        body {
        text-align: center;
        background-color: lightcoral;
        padding: 10px;
        }
    </style>
</html>