<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8" /> 
        <title>Book</title> 
    </head> 
    <body> 
        <h1>Publisher</h1>
        <h2>Dutton Books</h2>
        <p id='pub'>E. P. Dutton was an American book publishing company. <br>It was founded as a book retailer in Boston, Massachusetts, in 1852 by Edward Payson Dutton.</p>
        </br>
        <a href='home' id=back>Back to Cover.</a>
    </body> 
    <style>
        body {
        text-align: center;
        background-color: blueviolet;
        padding: 10px;
        }
    </style>
</html>