<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8" /> 
        <title>Book</title> 
    </head> 
    <body> 
        <h1>Review</h1>
        <p id='metadata'>The Fault in Our Stars received critical acclaim. Critics mostly praised the book for its humor, strong characters, language, themes and new perspective on cancer and romance. The New York Times' review of the book called it "a blend of melancholy, sweet, philosophical and funny" and said that it "stays the course of tragic realism", while noting that the book's unpleasant plot details "do nothing to diminish the romance; in Green's hands, they only make it more moving".</p>
        <h4>For more reviews, visit: <a href="https://www.johngreenbooks.com/the-fault-in-our-stars">johngreenbooks.com/the-fault-in-our-stars</a></h4>
        <a href='home' id=back>Back to Cover.</a>
    </body> 
    <style>
        body {
        text-align: center;
        background-color: crimson;
        padding: 10px;
        }
    </style>
</html>